.footer {
     padding: 40px 50px 20px 50px;
     background-color: #101010;
     border-bottom-color: #e3e3e3;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     h3 {
          color: white;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 2px;
          margin-bottom: 20px;
     }
     a:link {
          color: white;
          font-size: 14px;
          padding: 2px;
     }

     a:visited {
          color: white;
          font-size: 14px;
     }

     a:hover {
          color: lightblue;
          font-size: 14px;
          text-decoration: none;
          transition-property: all;
          transition-duration: 400ms;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;

     }

     a:active {
          font-size: 14px;
          color: #034da2;
     }
     i {
          color: white;
          font-size: 14px;
          padding: 6px 6px 2px 2px;
     }
     i:hover {
          color: lightblue;
          font-size: 14px;
          text-decoration: none;
          transition-property: all;
          transition-duration: 400ms;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;
     }
}

footer {
     background-color: #101010;
     span {
          color: white;
          padding: 20px;
          font-size: 14px;

     }
     img {
          max-width: 100px;
     }
}
