.menu {

        float: right;
        z-index: 1;

       .navbar-nav {
            border-bottom-color: #e3e3e3;
            border-bottom-style: solid;
            border-bottom-width: 1px;
               li {
                    margin: 0 20px;
                    padding-bottom: 5px;
                    letter-spacing: 3px;
               }

               a:link {
                 color: white;
                 border-bottom-color: transparent;
                 border-bottom-style: solid;
                 border-bottom-width: 5px;

               }

               a:visited {
                 color: white;
                 border-bottom-color: transparent;
                 border-bottom-style: solid;
                 border-bottom-width: 5px;
               }

               a:hover {
                 color: lightblue;
                 border-bottom-color: lightblue;
                 border-bottom-style: solid;
                 border-bottom-width: 5px;


                 transition-property: all;
                 transition-duration: 400ms;
                 transition-timing-function: ease-in-out;
                 transition-delay: 0s;

               }

               a:active {
                 color: #034da2;
                 padding-bottom: 4px;
                 border-bottom-color: #034da2;
                 border-bottom-style: solid;
                 border-bottom-width: 5px;
               }

               .nav-link {
                color: #FFFFFF;
                font-size: 16px;
                text-transform: uppercase;
               }
          }
}
