#hero {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.carousel-indicators li{
     z-index: 15;
     color: black;
     width: 10px;
     height: 10px;
     border-radius: 100%;
     bottom: 3%;
     cursor: pointer;
     }
